/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* create variable color custom */
:root {
  --oragect: #FF5722;
  --bg-1:#262626;
  --bg-2:#1F1F1F;
  --greenct: #2ECC71;

  /* max witdth medium display */
  --max-width:1200px;

  // effect
  --bg-black-900: #000;
  --bg-black-100: #ddd;
  --bg-black-50: #eff0f4;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000;
  --text-black-700: #555;
  --text-black-600: #666;
  --text-black-300: #bbb;
  --outer-shadow: 3px 3px 3px rgb(84, 84, 84), -3px -3px 3px #bbb;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

$bg-light:#eff0f4;
$bg-dark1:#262626;
$bg-dark2:#1F1F1F;
$color-orange:#FF5722;

/* reset value default */
* {
  font-family: "Inter", sans-serif !important;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scrollbar-color:  #e0e0e0 !important;
  scrollbar-width: thin;
}
.App {
  margin: 0 auto;
}

body {
  /* background-image: linear-gradient(to right, #00b4db, #0083b0); */
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background: #262626;
  /* overflow: hidden; */
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: rgb(208, 208, 208);
}
html::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ============main content */

main {
  margin-top: 70px;
  color: #fff;
}

/* ====scroll top btn=== */
#scroll-top-btn{
    /* display: none; */
    width: 50px;
    height: 50px;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(18, 72, 180, 0.318); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

