header {
  max-width: var(--max-width);
  padding: 10px 0px;
  margin: 0 auto;
}

header .logo__image {
  width: 63px;
  max-width: 170px;
  margin-right: 9px;
}
header img {
  width: 100%;
}

header .logo__text {
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none !important;
}

.navbar{
  ul{
    margin-bottom: 0;
    li{
      
      a{
        position: relative;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 18px 12px;
        transition: ease-in-out .5s;
        &::before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px; 
          background: var(--oragect);
        }
        &:hover{
          color: var(--oragect) !important;
          &::before{
            width: 100%;
            transition: ease-in-out .3s;
          }
        }
      }
      a.active{
        color: var(--oragect) !important;
      }
    }
  }
}

header .resume-download button {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 40px;
  background: var(--oragect2);
  transition: opacity 0.5s ease-out;
  /* opacity: 0; */
  color: #fff;
  text-align: center;
}
header .resume-download span {
  font-size: 14px;
}

.header-wrapper.fixed{
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all ease-in-out .3s;
  padding: 10px 0;
  z-index: 99;
   background: var(--bg-2);
   box-shadow: 2px .2px 4px #888888;
   opacity: 95%;
}


//  responsive style
// màn hình laptop máy tính loại tô
@media (min-width: 1025px) {
  body{
    background: red !important;
  }
}

//  màn hình medium thông thường
@media (max-width: 1024px){
  body{
    
  }
  .header-wrapper{
    
  }

  header{
    position: relative;
    padding: 10px 20px;
    .navbar{
      display: none;
      position: absolute;
      top: 0;
      right: -1px;
      background-color: var(--bg-2) ;
      height: 100vh;
      z-index: 99;
      box-shadow: inset 0 0 10px #444;
      transition: ease-in-out 1s;
    }
    .navbar.active{ // active
      display: block;
      right: 0;
      transition: ease-in-out 1s;

      ul{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding:  50px;
      }

      .close{
        position: absolute;
        top: 10px;
        left:10px ;
        color: #fff;
        display: block;
        &::before{
          content: "Close";
        }

      }
      
    }
    .resume-download{
      display: flex;
      align-items: center;
      column-gap: 10px;
      .navbar-responsive::after{
        content: 'navbar';
        color:#fff;
      }
    }
  }
}
// màn hình tablet
@media (max-width: 768px){
  body{
    background: green !important;
  }
}

// màn hình điện thoại
@media (max-width: 480px){
  body{
    background: blue !important;
  }
}