
.display-avatar{
    position: relative;
    width: 300px;
    img{
        width: 100%;
    }
    .close-img::before{
        content: '\00d7';
        position: absolute;
        right: -15px;
        top: 0;
        font-size: 25px;
        cursor: pointer;
        color: #000;}
}